@import "../../assets/style/colorsAndFonts.scss";

.header {
    width: 100%;

    &__container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    &__top {
    }

    &__logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 65px;
        margin: 0 6px 0 12px;

        & button {
            height: 50px;
            width: 50px;
            & svg {
                height: 36px;
                width: 36px;
            }
        }

        & h1 {
            display: flex;
            align-items: center;
            margin: 0;
            font-family: "GothamPro";
            color: #ffffff;
            font-size: 30px;
            font-weight: normal;
        }
    }

    &__inform {
        position: absolute;
        z-index: 0;
        width: 100%;

        margin: 47px 0 0 0;
        display: flex;
        justify-content: space-between;
        flex-grow: 1;

        & button {
            width: 30%;
            font-size: 15px;
            font-weight: normal;
        }
    }

    &__search {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
        & form {
            display: flex;
            align-items: center;
            border-radius: 7px;
            height: 40px;
            background-color: rgba($color: #ffffff, $alpha: 0.4);
            gap: 10px;
            width: calc(100% - 20px);
            display: flex;
            & svg {
                margin-left: 10px;
                height: 30px;
                width: 30px;
            }
            & input {
                border: 0;
                color: #ffffff;
                background-color: rgba($color: #000000, $alpha: 0);
                outline: 0;
                width: calc(100% - 10px - 30px - 28px);
            }
        }
    }

    &__bottom {
        width: 100%;
    }

    &__menu {
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 150px;
        z-index: 0;
        margin: 50px 0 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        & a {
            display: flex;
            color: #ffffff;
            text-decoration: none;
        }
    }
    &__toggle {
        transition: all 0.5s;
        height: 0px;
        &--active {
            height: 190px;
        }
    }
}
@media (min-width: 1600px) {
    .header {
        &__container {
            width: 1600px;
            margin: 0 auto;
        }
        &__logo {
            & button {
                order: -1;
                height: 60px;
                width: 60px;
                & svg {
                    width: 50px;
                    height: 50px;
                }
            }
            & h1 {
                margin-left: 20px;
                font-size: 45px;
            }
        }
        &__top {
            gap: 50px;
            height: 100px;
            display: flex;
            align-items: center;
        }

        &__inform {
            position: static;
            margin: 0;
            width: auto;
            gap: 20px;
            & button {
                width: auto;
            }
        }
        &__search {
            position: static;
        }
        &__menu {
            width: 1600px;
            padding: 0 0 0 40px;
            gap: 25px;
            margin: 0;
            left: 0;
            top: 100px;
            transform: translate(-50%, 0%);
            left: 50%;
            flex-direction: row;
        }
        &__toggle {
            &--active {
                height: 40px;
            }
        }
    }
}

@media (max-width: 450px) {
    .header {
        width: 450px;
        &__container {
            width: 450px;
        }
        &__top {
            width: 450px;
        }
        &__logo {
            width: 450px;
        }
        &__search {
            width: 450px;
        }
        &__inform {
            width: 450px;
        }
        &__bottom {
            width: 450px;
        }
        &__menu {
            left: calc(450px / 2);
        }
    }
}
