.viewMode {
    display: flex;
    gap: 5px;
    padding:  0 9px 0 9px;
    &__mode {
        cursor: pointer;
    }

    &__back {
        position: absolute;
        z-index: -1;
        width: 30px;
        height: 30px;
        border-radius: 3px;
        background-color: rgba($color: #efa500, $alpha: 0.8);
        transition: all 0.2s;

       &--two{

        margin-left: 35px;

       } 
    }
}
